.portfolio__container {
  padding: 50px 14px;
  padding-top: 0;
  /* width: 100%; */
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .portfolio__container {
    padding: 70px 50px;
    padding-top: 0;
  }
}

@media (min-width: 1000px) {
  .portfolio__container {
    padding: 103px 70px;
  padding-top: 0;
  }
}

.portfolio__title {
  padding-bottom: 20px;
  margin: 0;
  color: #A0A0A0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857; /* 142.857% */
}

@media (min-width: 700px) {
  .portfolio__title {
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 1.111; /* 111.111% */
  }
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__item {
  padding-top: 22px;
  padding-bottom: 18px;
  border-bottom: solid 1px #E6E6E6;
}

.portfolio__item:last-child {
  border: none
}

.portfolio__link {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  text-decoration: none;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55556;
  letter-spacing: -0.72px;
}

@media (min-width: 700px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 1.785; /* 178.571% */
    letter-spacing: -1.12px;
  }
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link-title {
  margin: 0;
  /* color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; 178.571%
  letter-spacing: -1.12px; */
}

@media (min-width: 1000px) {
  .portfolio__link-title {
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}

.portfolio__link-title-arrow {
  margin: 0;
  /* color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; 214.286%
  letter-spacing: -1.12px; */
}

@media (min-width: 1000px) {
  .portfolio__link-title-arrow {
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}

.portfolio__pointer-link {
  width: 18px;
  height: 28px;
}