.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 14px;
}

@media (min-width: 600px) {
  .header {
    padding: 18px 30px;
  }
}

@media (min-width: 1000px) {
  .header {
    padding: 18px 70px;
  }
}

.header_main-page {
  background-color: #073042;
}

.header__logo {
  display: block;
  height: 38px;
  width: 38px;
  background-image: url(../../images/logo.svg);
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__button {
  min-height: 38px;
  min-width: 44px;
  padding: 0;
  background-color: rgb(0, 0, 0, 0);
  background-image: url(../../images/burger-menu.svg);
  background-size: 51px 41px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

@media (min-width: 1000px) {
  .header__button {
    display: none;
  }
}

.header__desc-menu {
  display: none;
  flex-grow: 1;
  padding-left: 45px;
}

@media (min-width: 1000px) {
  .header__desc-menu {
    display: flex;
    justify-content: space-between;
  }
}

.header__desc-item {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header__desc-item-link {
  text-decoration: none;
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.384; /* 138.462% */
}

.header__desc-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.header__desk-item-link {
  padding: 7px 0;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  background: #000;
}

.menu-wrapper_closed {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #202020;
  z-index: 1;
}

@media (min-width: 600px) {
  .navigation {
    right: 0;
    width: 520px;
  }
}

.navigation_closed {
  display: none;
}

.navigation__close-button {
  padding: 0;
  position: absolute;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  background-image: url(../../images/exit-button.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 600px) {
  .navigation__close-button {
    top: 9px;
    right: 9px;
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  margin: 0;
  padding: 0 10px;
  padding-top: 144px;
}

@media (min-width: 600px) {
  .navigation__list {
    padding-top: 159px;
    gap: 24px;
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
}

.navigation__item-link {
  padding-bottom: 9px;
  text-decoration: none;
  border-bottom: 2px solid #202020;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (min-width: 600px) {
  .navigation__item-link {
    padding-bottom: 4px;
  }
}

.navigation__item-link_active {
  border-bottom: 2px solid white;
}

.navigation__profile-container {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

@media (min-width: 600px) {
  .navigation__profile-container {
    padding: 90px 0;
  }
}

.navigation__profile-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 92.308% */
}

.header__profile-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 92.308% */
}

.navigation__profile-link-title {
  margin: 0;
  padding: 0 7px;
}

.header__profile-link-title {
  margin: 0;
  padding: 0 7px;
}

.navigation__profile-icon {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #313131;
  background-image: url(../../images/profile.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header__profile-icon {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #313131;
  background-image: url(../../images/profile.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1000px) {
  .navigation__profile-icon {
    margin: 3px;
    margin-left: 0;
  }
}

.navigation__profile-icon-main {
  background-color: #0F4157;
}

.header__profile-icon-main {
  background-color: #0F4157;
}